.main-banner{
    position: relative;
}
.main-banner img{
    display: block;
    width: 100%;
    max-height: 430px;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.7);
}
.banner-titles{
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 5%;
    height: 100%;
}
.banner-titles p{
    color: white;
    position: absolute;
    font-weight: bold;
}
.banner-title-1{
    top: 15%;
    font-size: 26px;
}
.banner-title-2{
    top: 45%;
    font-size: 32px;
}
.points{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.point{
    height: 10px;
    width: 10px;
    background-color: #e4e4e4;
    border-radius: 50%;
    position: relative;
    bottom: 25px;
}
.point:hover{
    background-color: red;
}

@media(min-width:950px){
    .banner-titles p{
        width: 50%;
    }
    .banner-title-1{
        font-size: 30px;
    }
    .banner-title-2{
        font-size: 34px;
    }
}