.buy-button{
    width: 150px;
    height: 34px;
    background-color: black;
    color: white;
    border: none;
    margin: 0 auto;
    visibility: hidden;
}
.buy-button:hover{
    background-color: blue;
    transform: scale(1.1);
}