.card{
    max-width: 320px;
    justify-self: center;
    text-align: center;
    font-size: 14px;
    color: var(--letter);
    min-height: 350px; 
    position: relative;
}
.product-info{
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.product-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.card:hover .product-info{
    background-color: var(--light)
}
.off{
    background: linear-gradient(225deg, var(--alert) 0%, var(--alert) 49%, #00000000 50%);
    color: var(--clean);
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 5px;
}
.list-price{
    text-decoration: line-through;
}
.fa-star{
    color: var(--alert);
}
.product-price{
    color: var(--dark);
    font-size: 18px;
    font-weight: bold;
}

.card:hover .buy-button{
    visibility: visible;
}