.footer{
    width: 100%;
    background-color: var(--dark);
}
.footer-section{
    color: var(--clean);
    padding: 10px;
    max-width: 1050px;
    margin: 0 auto;
    width: 90%;
}
.location h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.location p{
    margin-bottom: 10px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.contact-info .contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--light);
    color: var(--dark);
    text-decoration: none;
    margin-bottom: 10px;
    height: 52px;
    font-size: 18px;
    border-radius: 15px;
    padding-left: 10px;
}
.contact p{
    margin-left: 20px;
}
.info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info-container{
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info-container img{
    width: 100%;
}
.second img{
    width: 40px;
    display: block;
    margin: 0 auto;
}

@media(min-width: 950px){
    .footer-section{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .location, .contact-info{
        width: 30%;
    }
    .info{
        width: 35%;
    }
}