@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
:root{
    --alert: #F8475F;
    --light: #F2F2F2;
    --unactive: #bbbbbb;
    --success: #008f00;
    --dark: #242424;
    --clean:#f5f5f5;
    --letter: #969696;
}
button{
    border-radius: 10px;
}