header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    max-width: 1050px;
}
.menu-icon, .shop-cart{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.shop-cart{
    justify-content: flex-end;
}
.cart-products{
    font-size: 10px;
    width: 15px;
    height: 15px;
    background-color: var(--alert);
    border-radius: 50%;
    text-align: center;
    color: var(--clean);
}
.fa-shopping-cart, .fa-bars, .fa-search{
    font-size: 22px;
}
.logo{
    width: 40%;
}
.logo img{
    width: 100%;
}
.search-input{
    width: 100%;
    margin-top: 15px;
    position: relative;
}
.search-input input{
    width: 100%;
    outline: none;
    border: none;
    height: 40px;
    border-bottom: 2px solid var(--light);
    font-size: 16px;
}
.fa-search{
    position: absolute;
    right: 0px;
    top: 10px;
}
.my-account{
    color: var(--unactive);
    display: flex;
    align-items: center;
    display: none;
}
.my-account p{
    padding-left: 10px;
}

@media(min-width:950px){
    .menu-icon{
        display: none;
    }
    .logo{
        width: 20%;
        order: 1;
    }
    .search-input{
        width: 40%;
        order: 2;
        align-items: center;
        margin-top: 0;
    }
    .my-account{
        display: flex;
        width: 100px;
        order: 3;
    }
    .shop-cart{
        order: 4;
        width: 10%;
        justify-content: flex-start;
    }
}
