main{
    max-width: 1050px;
    margin: 10px auto;
    width: 90%;
}
.products-container{
    display: grid;
    margin-bottom: 50px;
    row-gap: 20px;
}
.loading{
    width: 120px;
    margin: 10px auto;
    display: flex;
    align-items: center;
}
.loading img{
    width: 50px;
}

@media(min-width: 450px){
    .products-container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
}

@media(min-width: 950px){
    .products-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
